<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/welcome-template.css">
    <!-- the welcome struct (shown in the main.go code) is received within the HTML and we just need to use the . operator and retrieve the information we want -->
    <title>Welcome {{.Name}}</title>
</head>
<body>
    <div class="welcome center">Welcome {{.Name}}, it is {{.Time}}</div>
</body>
</html>
